/*@font-face {
    font-family: 'Noto Serif', serif;
    src: url('https://fonts.googleapis.com/css?family=Noto+Serif:700i');
}*/

body {
    background: url(//subtlepatterns.com/patterns/scribble_light.png);
 
    
}

#columns {
    column-width: 320px;
    column-gap: 15px;
    width: 90%;
    max-width: 1100px;
    margin: 50px auto;
}

div#columns figure {
    background: #fefefe;
    border: 2px solid #fcfcfc;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    padding: 15px;
    padding-bottom: 10px;
    transition: opacity .4s ease-in-out;
    display: inline-block;
    
}

    div#columns figure img {
        width: 100%;
        height: auto;
        border-bottom: 1px solid #ccc;
        padding-bottom: 15px;
        margin-bottom: 5px;
    }

    div#columns figure figcaption {
        font-size: .9rem;
        color: #444;
        line-height: 1.5;
    }

div#columns small {
    font-size: 1rem;
    float: right;
    text-transform: uppercase;
    color: #aaa;
}

    div#columns small a {
        color: #666;
        text-decoration: none;
        transition: .4s color;
    }

div#columns:hover figure:not(:hover) {
    opacity: 0.4;
}

@media screen and (max-width: 750px) {
    #columns {
        column-gap: 0px;
    }

        #columns figure {
            width: 100%;
        }
}

.container {
    max-width: 95%;
    
}

.container.body-content{
    margin: 60px;
}

.row {
    margin-bottom: 50px;
    display: inline-flex;
}

.col-sm-8 {
    margin-left: 200px;
}


.col-sm-4 img {
    border: 15px solid white;
    
}

.col-sm-3 img {
    border: 10px double black;
}

.row-example{
    display: block;
}

.example{
    font-size: 20px;
}

.field-validation-error {
    color: tomato;
}

.thumbnail {
    position: relative;
}

.carousel-caption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact;
    font-size: 2.5em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow: 2px 2px 0 #000, 
        -2px -2px 0 #000, 
        2px -2px 0 #000,
        -2px 2px 0 #000, 
        0px 2px 0 #000, 
        2px 0px 0 #000, 
        0px -2px 0 #000, 
        -2px 0px 0 #000, 
        2px 2px 5px #000;
}


