@using Project.Web.Models;
@model List<CardsModel>

@{
    ViewBag.Title = "ThankYou";
}

<h2>Your card has been sent!</h2>

<div id="columns">
    @foreach (var c in Model)
    {
        <figure>
            <a href="@Url.Action("CreateCard", "ECard", new { id = c.CardId })">
                <img class="img-responsive" src="@Url.Content("~/Content/img/" + c.ImageName)" alt="@c.CardName" />
            </a>
        </figure>
    }
</div>